.PostFull {
  padding: 20px;
  margin: 0 auto;
  max-width: 50rem;
  border-bottom: 1px solid $light-gray;
  background: #fff;

  .TimeAgo {
    color: $dark-gray;
    font-weight: 400;
  }
  .ReplyEditor {
    margin-top: 2rem;
  }
}

.PostFull__time_author_category {
  color: $dark-gray;
  font-weight: 400;
  border-right: 1px solid $medium-gray;
  padding-right: 1rem;
  margin-right: 1rem;
  > span {
    white-space: nowrap;
  }
}

.PostFull__header {
  > h1, > h6 {
    overflow: hidden;
  }
  > h1 {
    font: 700 26px 'museo_sans_cyrl', Arial, sans-serif;
  }
  a {
    color: $dark-gray;
    font-weight: 600;
    @include hoverUnderline;
  }
  .PostFull__time_author_category {
    border-right: none;
    .Icon.clock {
      top: 5px;
      path {
        fill: $dark-gray;
      }
    }
  }
}

.PostFull__body {
  padding: 1rem 0 2rem 0;
  font: 500 15px/25px 'museo_sans_cyrl', Arial, sans-serif;
  clear: left;


  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  table td {
    word-break: normal; // issue #146
  }

  p {
    font-size: 100%;
    line-height: 175%;
 
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: none;
  }

  iframe {
    max-width: 100%;
    max-height: 75vw;
  }
}

.PostFull__Share {
  float: left;
}
.PostFull__share-vk {
  width: 32px;
  height: 32px;
  background: url('../../assets/images/sharebtns.png') no-repeat;
  background-size: 107px 16px;
  background-position: 5px 5px;
  float: left;
  margin-top: -3px;

}
.PostFull__share-fb {
  width: 32px;
  height: 32px;
  background: url('../../assets/images/sharebtns.png') no-repeat;
  background-size: 107px 16px;
  background-position: -40px 5px;
  float: left;
  margin-left: 5px;
  margin-top: -3px;

}
.PostFull__share-tw {
  width: 32px;
  height: 32px;
  background: url('../../assets/images/sharebtns.png') no-repeat;
  background-size: 107px 16px;
  background-position: -86px 5px;
  float: left;
    margin-left: 5px;
    margin-top: -3px;
}
.PostFull__Share > span {
  float: left;
  width: 77px;
  margin-left: 10px;
  margin-top:5px;
  font-size: 12px;
  color: #9da5ab;
}
.PostFull_Footer-rightblock {
  margin-top: 10px;
}
.PostFull__footer {
  clear: right;
  margin-top: 5px;
  

  font-size: 94%;
  svg path, svg polygon {
    fill: $dark-gray;
  }
  a, .FoundationDropdownMenu__label {
    color: $dark-gray;
    font-size: 94%;
    font-weight: 600;
    @include hoverUnderline;
  }
  .FormattedAsset {
    font-size: 110%;
  }
  .Voting {
    //padding-right: 1rem;
    //margin-right: 1rem;
  }
  .VerticalMenu > li > a {
    color: $dark-gray;
  }
  span {
    white-space: normal;
    float: left;
    margin-top: -1px;
    
  }

  .Reblog__button {
    padding-right: 1rem;
    margin-right: 1rem;

  }
}

.PostFull__responses {
  padding-right: 1rem;
  margin-right: 1rem;

}

.PostFull__responses {
  .Voting {
    .Voting__upvote_ico {
  margin-top: 2px;
    }
  }
}

.PostFull__reply {
  padding-right: 1rem;
  margin-right: 1rem;

}

.PostFull__lifetime {
  color: $dark-gray;
  font-size: 80%;
}

.Author__dropdown {
  padding: 1rem;
  > a {
    @include hoverUnderline;
  }
}

.PostFull, .Post_comments {
    textarea[rows] {min-height: 7rem;}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .Post {
    width: 100%;
    overflow: hidden;
  }
  .PostFull__footer > .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
