ul.PostsList__summaries {
  margin-left: 0;
  line-height: 15px;
}

.PostSummary {
  padding: 15px 20px 12px 20px;
  margin: 0 0 15px;
  background-color: #fff;
  clear: left;
  border: 1px solid #e1e3e4;
  border-radius: 3px;
  @include clearfix;
  width: 560px;
}

.PostSummary__image {
  display: block;
  overflow: hidden;
  width: 518px;
  max-height: 1000px;
  background-color: #EEE;
  background-size: cover;
  background-repeat: no-repeat;

  margin-top:15px;
 
}
.PostSummary__image img {
  width: 518px;
}



.PostSummary__author_with_userpic {

display: block;
overflow: hidden;
clear: both;
margin-bottom: 15px;

}
.PostSummary__image-mobile {
  display: block;
  background: #F8F8F8;

  img {
    margin: 0 auto;
    margin-top: 0.2rem;
    display: block;
    max-width: 100%;
    max-height: 80vw;
    background: white;
    transform: translate3d(0, 0, 0);
  }
}

.PostSummary.with-image .PostSummary__reblogged_by,
.PostSummary.with-image .PostSummary__content {
  
}

.PostSummary__summToday {
  color: #9da5ab;
  font-weight: 500;
  font-size: 12px;
  margin-top: 3px;
  float: right;
}

.PostSummary__file {
  margin-top:13px;
  
  min-height: 32px;
  background-size: 32px 32px;
  padding: 6px 0 0 40px;
  vertical-align: center;
  display: block;
  font-size: 13px;
  color: #141414;
  font-family:"museo_sans_cyrl", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-left: -3px;
  
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
    text-decoration: none;
  
}
.PostSummary__file:hover, .PostSummary__file:focus {
  text-decoration: none;
}

.PostSummary__file-word {
  background: url('../../assets/icons/wordico.png') left top no-repeat;
    background-size: 32px 32px;
}
.PostSummary__file-excel {
  background: url('../../assets/icons/xlsico.png') left top no-repeat;
    background-size: 32px 32px;
}
.PostSummary__file-pdf{
  background: url('../../assets/icons/pdfico.png') left top no-repeat;
    background-size: 32px 32px;
}
.PostSummary__file-image {
  background: url('../../assets/icons/imgico.png') left top no-repeat;
    background-size: 32px 32px;
}

.PostSummary__header {
  > h1 {
    font-family:"museo_sans_cyrl", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 0 0 5px 0;
    overflow: hidden;
    
    > a {
      color: #333;
    }
    > a:visited {
      color: #777;
    }

    >a:hover {
      text-decoration: none;
    }
  }
}

.PostSummary__header-otvet {

  > h1 {
    font-family:"museo_sans_cyrl", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 0 0 5px 0;
    overflow: hidden;
    
    > a {
      color: #333;
    }
    > a:visited {
      color: #777;
    }

    >a:hover {
      text-decoration: none;
    }
  }
  margin: 0 -20px 10px -20px;
  padding: 12px 20px 7px 20px;
  background: #f7f8f9;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  
}

.PostSummary__header-otvettitle {
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #9f9f9f;
  font-weight: 700;
  
}

.PostSummary__collapse {
  visibility: hidden;
}

.PostSummary:hover .PostSummary__collapse {
  visibility: visible;
}

.PostSummary__body {
  width: auto;
  padding: 0;
  font-family: "museo_sans_cyrl", Helvetica, Arial, sans-serif;
  color: #1f1f1f;
  overflow: hidden;
  line-height: 20px;
 
  text-overflow: ellipsis;
  font-weight: 500;

  a, a:hover {
    color: inherit;
    display: inline;
    text-decoration: none;
  }

}

.PostSummary__footer {
  color: $dark-gray;
  font-weight: 400;
  margin: 0 -20px 0 -20px;
  padding: 12px 20px 0 20px;
  border-top: 1px solid #efeff0;
  margin-top:20px;
  path {
    fill: $dark-gray;
  }
  a {
    color: $dark-gray;
    font-weight: bold;
  }
  .FormattedAsset {
    font-weight: normal;
    font-size: 110%;
  }
  .Icon {
    position: relative;
    top: -1px;
  }

  .Card & {
     margin-top: 2px;
     margin-left: 46px;
 
   }
}

.PostSummary__footer .Voting__upvote_ico {
  margin-top: 5px;
}

.PostSummary__time_author_category {
  color: #7d7d7d;
   font-size: 12px;
   display: block;
  a {
    color: $black;
    font-weight: 700;
    font-size: 14px;
 
   
  }
  padding-right: 1rem;
  margin-right: 1rem;


  .Reblog__button {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid #cacaca;
  }
}
.PostSummary__niche {
color: #7d7d7d;
  margin: -3px 0 0 60px;
  font-size: 12px;
  line-height: 15px;
  margin-top: 4px;
  
}

.PostSummary__time_author_category_small a {
  color: $dark-gray;
}

.PostSummary__reblogged_by {
  .Icon path {
    fill: #cacaca;
  }
  color: $dark-gray;
  font-size: 90%;
  margin-top: -0.5rem;
  a {
    color: inherit;
    font-weight: bold;
    @include hoverUnderline;
  }
}
.PostSummary__avatar_wrapper {
width: 50px;
  height: 50px;
  float: left;
  border-radius: 25px;
  background: $bg-gray;
  margin-right: 10px;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .PostSummary {
    padding: 15px 15px 10px 15px;
    margin-bottom: 15px;
    border: none;
    border: 1px solid #e1e3e4;
    width: 100%;
  }
  .PostSummary__image {
    float: none;
    margin-top: 0.5rem;
    // background-size: contain;
    display: block;
    width: 100%;
    height: 40vw;
  }
  .PostSummary__body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    white-space: normal;
    text-overflow: initial;
    padding-bottom: 0.3rem;
    a {
        display: block;
    }
  }
  .PostSummary.with-image .PostSummary__reblogged_by,
  .PostSummary.with-image .PostSummary__content {
    margin-left: 0;
  }
  .PostSummary__footer .Voting, .PostSummary__footer .Voting__inner {
    border-right: none;
  }
  .PostSummary__niche {
    margin-left: 42px;
 
  }

  .PostSummary__header-otvet {

  > h1 {
    font-family:"museo_sans_cyrl", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 0 0 5px 0;
    overflow: hidden;
    
    > a {
      color: #333;
    }
    > a:visited {
      color: #777;
    }

    >a:hover {
      text-decoration: none;
    }
  }
  margin: 0 -15px 10px -15px;
  padding: 12px 15px 7px 15px;
  background: #f7f8f9;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  
}


}
