.DS_Store
.idea
.vs
coverage
node_modules
*.log
dist
vendor/*
tmp/*
config/steem.json
config/steem-dev.json
config/process.json
config/last-build.json
app/assets/static/*.js
clean.sh
db/config/config.json
screenlog*
/.history/
/.idea/
/.vscode/
/.git/
.happypack
