.App {
  // min-height: 100vh;
  padding-top: 50px;
}

.App__content {
    margin-top: 10px;
    /* Small only */
    @media screen and (max-width: 39.9375em) {
        margin-top: 10px;
    }
    /* Medium only */
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        margin-top: 10px;
    }
    /* Large and above */
    @media screen and (min-width: 64.063em) {
        margin-top: 10px;
    }

}

.container {
  width: 915px;
}


.AppBitva__overall {
    width: 100%;
}
.AppBitva__overall.App_content {
    width: 100% !important;

}
.AppBitva__overall .container {
    width: 100% !important;
    margin: 0;
    padding: 0 !important;
}

.reveal-overlay {
  background-color: rgba(0, 40, 100, 0.8);
}
#reformal_tab {
z-index: 101 !important
}

.welcomeWrapper {
  margin-top: -1rem;
  padding-bottom: 1rem;
}
.welcomeBanner {
  padding-bottom: 2.35rem;
  background-color: #fafbfd;
  background-image: url(../images/lp-bottom.jpg);
  background-repeat: repeat-x;
  background-position:bottom;
  //background-attachment:fixed;
}

.RightMenu {
  background-color: #555;
  height: 100vh;
  color: #fff;
  padding-top: 3rem;
  .close-button {
    color: #fff;
  }
  .menu > li {
    > a {
      color: #fff;
      border-top: 1px solid #777;
    }
    > a:hover {
      background-color: #666;
    }
  }
  .menu > li.last {
    border-bottom: 1px solid #777;
  }
  .button.hollow {
    color: #fff;
    border: none;
  }
}
.PlainLink {
    color: #8a8a8a;
}

.welcomeBanner {
  position: relative;
  h2 {
    font-size: 3.8rem;
    font-weight: 300;
    margin-bottom: 0;
  }
  h4 {
    color: #999;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .close-button {
    top: 0.5rem;
  }
  .button.hollow {
    background-color: rgba(255,255,255,0.5);
  }
}
.downvoted {
    color: #848282;
    opacity: .3;
    -webkit-filter: grayscale(1); // image
    filter: gray; // image grayscale
    .Comment__header-user {
        color: #848282;
    }
}
.downvoted:hover {
    opacity: 1;
    filter: none;
    -webkit-filter: none;
}

.App__announcement {
  padding-right: 40px;
}

.hidden {
  display: none;
}

.button {
  background: #196aff;
  text-transform: none;
  padding: 10px 20px;
}


/* live chat specific styles */
@media #{$medium-only} {
  .rocketchat-widget {
    right: 0;
  }
}

@media #{$small-only} {

  .container {
    width: 100%;
  }
  
}

