.Rating__search {
  float: right;
  width: 150px;
  margin: 9px 10px 0 0;
  height: 30px;
  font-size: 13px;
  border-radius: 3px;
  box-shadow: none;
}

.Rating__submenu {
  overflow: hidden;
  background: #f4f5f5;
  border: 1px solid #e1e3e4;
  border-bottom: 0 none;
  height: 50px;
  width: 560px;
}

.Rating_wrapper {
  
  padding: 15px 20px 12px 20px;
  overflow: hidden;
    background-color: #fff;
    clear: left;
    border: 1px solid #e1e3e4;
    border-radius: 0 0 3px 3px;
    width: 560px;
    
}

.Rating__money {
  float: right;
  font: 12px/18px 'museo_sans_cyrl', Arial, sans-serif;
  font-weight: 700;
  margin-top:2px;
}

.Rating__row .User {
  width: 75%;
}

.Rating__row {
  overflow: hidden;
  display: block;
  padding: 0 0 10px 0;
}

@media screen and (max-width: 39.9375em) {
.Rating__submenu {
  width: 100%;
  
}
.Rating_wrapper {
   width: 100%;
  }

}
