.UserProfile .PostsList{
 margin-left: 10px;
}
.UserProfile__subscribers {
  padding-bottom: 12px !important;
}

.UserProfile__followbtn {
  
padding: 10px;
background-color: #196aff !important;
color: #fff;
margin-right: 10px;
float: right;
}
.UserProfile__listInner {
  padding: 0;
  margin: 0 0 15px 10px;
  background-color: #fff;
  clear: left;
  border: 1px solid #e1e3e4;
  border-radius: 3px;
  @include clearfix;
  width: 560px;
  
  .row > .column > h3 {
    padding: 15px;
    font-size: 21px;
    margin-bottom:0;
  }
  .row > .column > table {
    border: 0 none;
    border-top: 1px solid #e1e3e4;
  }
  .row > .column > table > tbody {
    border: 0 none;
  }
  .row > .column > table > tbody > tr > td {
    background: #fff;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #e1e3e4;
    padding: 15px;
    
  }
  .Author__name a {
    color: #1f1f1f;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
  }
  .Author__name a:hover, .Author__name a:focus {
    color: #1f1f1f;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    
  }

 

  .UserProfile__followers-niche > div {
    color: #7d7d7d;
    font-size: 12px;
    text-decoration: none;
  }
  .UserProfile__followers-niche > div:hover, .UserProfile__followers-niche > div:focus {
    text-decoration: none;
  }
  ul.pager {
    padding: 0 15px;
    margin: 0;
  }
  .pager {
    margin: 0;
  }
}

.UserProfile__banner a.UserProfile__followerslink, .UserProfile__banner a.UserProfile__followerslink:hover, .UserProfile__banner a.UserProfile__followerslink:focus {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3f3f3f;
    font-weight: 700;
    margin-top: 10px;
     cursor: pointer;
     text-decoration: none;
  }
.UserProfile__banner a.UserProfile__followedlink, .UserProfile__banner a.UserProfile__followedlink:hover, .UserProfile__banner a.UserProfile__followedlink:focus {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #9f9f9f;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 22px;
    cursor: pointer;
     text-decoration: none;
  }

.UserProfile__top-nav {
  background-color: #333333;
  padding: 0;
  margin-bottom: 1.5rem;
  .row {
      .columns {
          overflow-x: auto;
      }
  }
  .menu {
    background-color: transparent;
  }
  .menu > li > a {
      transition: all 200ms ease-in;
      transform: translate3d( 0, 0, 0);
      padding-left: 0.7rem;
      padding-right: 0.7rem;
      color: $white;
      background-color: transparent;
      @include hoverUnderline;
      &.active {
          background-color: $white;
          z-index: 2;
          color: $black;
          font-weight: bold;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
  }

  div.UserProfile__top-menu {
      max-width: 71.42857rem;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      // Override default svg vertical alignment
      .Icon > svg, .Icon span.icon {
          vertical-align: middle!important;
      }
  }
}

.UserProfile__section-title {
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #EEE;
}

.UserProfile__banner {
    text-align: center;
    color: $white;
    padding: 0 5px 0 5px;
    a {
        color: $white;
    }

    .UserProfile__buttons {
        position: absolute;
        top: 15px;
        right: 5px;

        label.button {
            color: black;
            border-radius: 3px;
            background-color: white;
        }
    }

    .UserProfile__stats {
        margin-bottom: 5px;
        padding-bottom: 5px;

        a {
          border-bottom: 1px dotted rgba(255,255,255,0.5);
	}

        span {
            padding: 0px 10px;
        }

        span:nth-child(2) {
            border-left: 1px solid grey;
            border-right: 1px solid grey;
        }
    }

    .UserProfile__blockinfo {
        width: 300px;
        background: #fff;
        border: 1px solid #e1e3e4;
        border-radius: 3px;
        padding: 16px 16px 16px 16px;
        color: #0c0c0c;
        text-align: left;
         margin-bottom: 15px;
         

         > h6 {
           font-size: 10px;
           text-transform: uppercase;
           letter-spacing: 2px;
           color: #0c0c0c;
           font-weight: 700;
           margin-bottom: 5px;
           
         }
    }
    .UserProfile__nameinfo {
      width: 300px;
      background: #fff;
      border: 1px solid #e1e3e4;
      border-radius: 3px;
      padding: 24px 20px 20px 20px;
      color: #0c0c0c;
      margin-bottom: 15px;
    }
    .UserProfile__nameinfo h2 {
      font-size: 21px;
    }
    .UserProfile__infoboxes {

      font-size: 12px;
      line-height: 18px;
      color: #9f9f9f;
     

    }

    .UserProfile__point {
      font-size: 10px;
           text-transform: uppercase;
           letter-spacing: 2px;
           color: #bbbbbb;
           font-weight: 700;
           margin-top: 10px;
           
    }

    .UserProfile_progress {
    
      height:3px;
      background: #f2f2f2;
      -webkit-box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.14);
-moz-box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.14);
box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.14);
      
      margin: 15px -16px 0 -16px;
      


    }

    .UserProfile__money {
      font-size: 14px;
      color: #181818;
      font-weight: 700;
      
    }

    .UserProfile_rightCol {
      border-right: 1px solid #e1e3e4;
      padding-bottom: 15px;
    }

    .UserProfile__goalblock {
      padding-bottom: 0;
    }

    .UserProfile__subtitle strong {

        font-size: 10px;
           text-transform: uppercase;
           letter-spacing: 2px;
           color: #3f3f3f;
           font-weight: 700;
           margin-top: 10px;
      
    }

    .UserProfile__subtitle {
       font-size: 10px;
           text-transform: uppercase;
           letter-spacing: 2px;
           color: #9f9f9f;
           font-weight: 700;
           margin-top: 10px;
           margin-right: 22px;
           cursor: pointer;

    }

    .UserProfile__moreinfo {
      font-size: 13px;
         
          
           color: #131313;
           font-weight: 500;
           margin-top: 10px;
          
    }


}



.UserProfile__cover {
  width: 875px;
  height: 198px;
  background-color: #7a7a7a;
  background-position: top left;
  background-repeat: repeat;
  background-size: cover;
  border-radius: 0 0 3px 3px;
  margin: 0 5px 30px 5px;
  background-image: url('../../assets/images/defaultcover.jpg');

}

.UserProfile__buttons-block {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.UserProfile__buttons {

  > span > label {
    padding: 10px 15px;
    font-family: "museo_sans_cyrl", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: rgba(0,0,0,.4) !important;
    border: 0 none;
    border-radius: 3px;
    margin: 0 0 0 5px !important;
   
  }
  > span > label:hover {
    background-color: rgba(0,0,0,.8) !important;
  }

  > span > label .button {
    background: transparent !important;
    margin: 0 0 0 5px !important;
  
  }
   > span > label .button:hover {
    background: transparent !important;
   
  }
  
}

.UserWallet__balance {
    > div:nth-child(2) {
        text-align: right;
    }
}

@media screen and (max-width: 39.9375em) {

  .UserProfile__buttons-block {
  position: absolute;
  right: 10px;
  top: 10px;
}


    .UserProfile__banner {
      padding: 0;
      
        > div.column {
            height: 110px;
        }
    }

     .UserProfile__goalblock {
      margin-bottom: 15px;
     }

    .UserProfile__banner .UserProfile__nameinfo {
      width: 100%;
    }

    .UserProfile__banner .UserProfile__blockinfo {
      width: 100%;
    } 
    .UserProfile .PostsList{
 margin-left: 0;
}


    .UserProfile__banner .UserProfile__nameinfo {
      width: 100%;
    }

    .UserProfile__cover {
      width: 100%;
      height: 200px;
      margin: 0 0 25px 0;
    }

    .UserProfile .row {
      display: block;
    }

    .UserProfile_tabcontent {
      padding: 0;
    }

    div.UserProfile__top-nav .menu li>a {
        padding: 8px;
    }

    .UserProfile__top-menu > div.columns {
        padding-left: 0;
        padding-right: 0;
    }

    .UserProfile__banner .UserProfile__buttons {
        text-align: right;

        label.button {
            display: block;
        }
    }

    .UserWallet__balance {
        > div:last-of-type {
            text-align: left;
        }
    }

    .UserReward__row {
        > div:last-of-type {
            padding-left: 20px;
        }
    }
}
