.Avatar {
	width: 158px;
	height: 158px;
	background-size: cover;
	border: 2px solid #fff;
	border-radius: 3px;
	top: 52px;
	left: 72px;
	background-position: center center;
	position: absolute;
	background-color: #fff;
	
	background-size: cover;
	
	-webkit-box-shadow: 0px 6px 6px 0px rgba(42,51,69,0.16);
-moz-box-shadow: 0px 6px 6px 0px rgba(42,51,69,0.16);
box-shadow: 0px 6px 6px 0px rgba(42,51,69,0.16);
}

@media screen and (max-width: 39.9375em) {
	.Avatar {
		
		left: 50%;
		margin-left: -79px;
		top:55px;
	}
	
	.Author span {
		width: 100%;
		margin-left: 42px;
		display: block;
	}

	}