.HorizontalMenu {
  .active > a {
    background: none;
    color: $black;
    font-weight: 600;
  }
  li > a:hover {
    color: $black;
  }
  > li:first-child > a {
    padding-left: 0;
  }
  > li:last-child > a {
    padding-right: 0;
  }
}

.FeedbackResults_menu {
  overflow: visible !important;
}

.FeedbackResults_menu .dropdown-menu li {
  height: 37px !important;
}

.FeedbackResults_menu .dropdown-menu li a {
  margin: 0 !important;
  padding: 10px 10px 0 10px !important;
  height: 37px !important;
}
.FeedbackResults_menu .dropdown-menu li.active a{
  border-bottom: 0 none !important;
}

.FeedbackResults_menu .dropdown button.btn {

  margin-left: -10px !important;
}

.FeedbackResults_cities-mobile {
  display: none;
}



@media screen and (max-width: 39.9375em) {
.HorizontalMenu__shadow {
  position: absolute;
  right:1px;
  
  width: 30px;
  height: 40px !important;
  background: #fff;
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+1,1+100 */
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.FeedbackResults_cities-mobile {
  display: block;
}

.FeedbackResults_cities-mobile ul.dropdown-menu {
  max-height: 300px;
  left: -50px;
  overflow: scroll;
}

.FeedbackResults_cities-mobile button.dropdown-toggle {
  color: #2b2b2b;
    font-family: "museo_sans_cyrl", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-decoration: none;
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
}

}