.Products {
	  width: 300px;
      background: #fff;
      border: 1px solid #e1e3e4;
      border-radius: 3px;
      padding: 15px 20px 10px 20px;
      color: #0c0c0c;
}

.Products__schedule-title {
	font: 10px/20px 'museo_sans_cyrl', Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #9f9f9f;
	letter-spacing: 3px;
	text-decoration: none;
	
}
.Products__schedule-title:hover, .Products__schedule-title:focus {
	color: #196aff;
	text-decoration: none;
	
}

.Products__link, .Products__link:hover, .Products__link:focus {
	padding: 15px 0 15px 0;
	text-decoration: none;
	display: block;
}


.Products__date {
	float: left;
	width: 40px;
	color: #196aff;
	text-decoration: none;
	font: 10px/20px 'museo_sans_cyrl', Arial, sans-serif;
	font-weight: 700;
}
.Products__date:hover, .Products__date:focus {
	text-decoration: none;

}
.Products__date-day {
	font-size: 27px;
}
.Products__date-month {
	font-size: 10px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.Products__title {
	font-size: 13px;
	color: #0f0f0f;
	font-weight: 700;
	line-height: 15px;
	
}

.Products__description {
	color: #969696;
	font-size: 11px;
}

.Products__text {
	margin-left: 50px;
	color: #0f0f0f;
	text-decoration: none;
}

.Products__text:hover, .Products__text:focus {
	color: #196aff;
	text-decoration: none;
}

.Products__link:hover .Products__title {
	color: #196aff;
}
.Products__link:hover .Products__description {
	color: #196aff;
}