.ReplyEditor {
  max-width: 50rem;
  .rte {
    clear: right;
  }
}

.SubmitPost .DraftEditor-editorContainer {
  // height: 40vh;
}


.covered {
  display: none;
}

.ReplyEditorShort__titleVisible, .ReplyEditorShort__titleVisible:focus  {
  display: block;
  border: 1px solid #e1e3e4;
    border-radius: 3px;
    box-shadow: none;

    resize: none;
    color: #1f1f1f;
    height: 50px;
    font-size: 14px;
    font-weight: 700;
    background-color: #fff;
    padding: 10px 10px 10px 15px;
    margin-bottom: 10px !important;
}

.ReplyEditorShort__titleInvisible {
  display: none;
}

.ReplyEditor .Markdown {
  border: 1px solid $light-gray;
  padding: 0 1rem;
}

.ReplyEditorShort__moneyVisible, .ReplyEditorShort__moneyVisible:focus  {
  display: block;
  border: 1px solid #e1e3e4;
  border-top: none;
    border-radius: 0 0 3px 3px;
    box-shadow: none;

    resize: none;
    color: #1f1f1f;
    height: 50px;
    font-size: 13px;
    font-weight: 500;
    background-color: #fff;
    padding: 10px 10px 10px 15px;
    margin-bottom: 5px !important;
}


.ReplyEditorShort__moneyInvisible {
  display: none;
}

.ReplyEditorShort__body {

 
  border-radius: 4px;
  > div {
    border: none;
  }
  > textarea {
    border: 1px solid #e1e3e4;
    border-radius: 3px 3px 0 0;
    box-shadow: none;

    resize: none;
    color: #1f1f1f;
    height: 50px;
    font-size: 13px;
    background-color: #fff;
    background: url('../../assets/icons/write-ico.png') 15px 15px no-repeat #fff;
    background-size: 17px 17px;
    
    padding: 13px 10px 10px 45px;
    
    ::-webkit-input-placeholder {color:#9f9f9f;}
::-moz-placeholder          {color:#9f9f9f;}/* Firefox 19+ */
:-moz-placeholder           {color:#9f9f9f;}/* Firefox 18- */
:-ms-input-placeholder      {color:#9f9f9f;}
  }

  > textarea.expanded-area {
  resize: auto;
  height: 150px;
  background: #fff;
  padding: 13px 10px 10px 15px;
}
 > textarea.collapsed-area {
  resize: none;
  height: 50px !important;
  background: url('../../assets/icons/write-ico.png') 15px 15px no-repeat #fff;
    background-size: 17px 17px;
    
    padding: 13px 10px 10px 45px;
}

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.ReplyEditorShort__body.rte {
  border: 1px solid $medium-gray;
}

.Comment__replies .ReplyEditorShort__body {
  margin-top: -1rem;
}
.medium-editor-element {
    background-color: inherit !important;
}
.medium-editor-toolbar-actions button {
    margin-right: 0 !important;
}
// .medium-insert-images.medium-insert-images-grid.small-grid figure {
//     width: 10%;
// }
// @media (max-width: 750px) {
//     .medium-insert-images.medium-insert-images-grid.small-grid figure {
//         width: 20%;
//     }
// }
// @media (max-width: 450px) {
//     .medium-insert-images.medium-insert-images-grid.small-grid figure {
//         width: 25%;
//     }
// }
// .editable {
//     outline: none;
//     min-height: 38px;
//     margin: 0 0 20px 0;
//     padding: 0 0 20px 0;
// }

.RichTextEditor__root___33zoV button {
  margin-right: 0 !important;
}


@media screen and (max-width: 39.9375em) {

.ReplyEditorShort__body  {

  > textarea {
  font-size:16px;
  }
  > input {
     font-size:16px;
  }
}

  .ReplyEditorShort__moneyVisible, .ReplyEditorShort__moneyVisible:focus {
      font-size:16px;
}


.ReplyEditorShort__moneyInvisible {
  font-size:16px;

}

.ReplyEditorShort__titleVisible, .ReplyEditorShort__titleVisible:focus   {
font-size: 16px;
}

.ReplyEditorShort__titleInvisible  {
font-size: 16px;
}

.ReplyEditor .column {
  padding-left: 0;
}



}



