.ReplyEditor {
  max-width: 50rem;
  .rte {
    clear: right;
  }
}

.SubmitPost .DraftEditor-editorContainer {
  // height: 40vh;
}

.UserProfile_tabcontent .ReplyEditor .column {
  padding-right: 5px;
}

.ReplyEditorShort__uploaded {
  width: 559px;
  height: 300px;
  background-size: cover;
  border-radius: 3px;
  display: block;
  margin-bottom: 20px;
  position: relative;

}

.ReplyEditorShort__fileuploaded {
  width: 559px;
  height: 50px;


  display: block;
  margin-bottom: 20px;


}

.ReplyEditorShort__youtube-no-error {
  display: none;
}
.ReplyEditorShort__youtube-error {
  color: #e02608;
  font-size: 12px;
}

.ReplyEditorShort__input-youtube {
  margin-bottom: 10px;
}
.ReplyEditorShort__submit-youtube {
  margin: 10px 10px 0 0;
}

.ReplyEditorShort__hide {
  display: none;
}

.ReplyEditorShort__file {
  height: 32px;
  background-size: 32px 32px;
  padding: 6px 0 0 40px;
  vertical-align: center;
  display: block;
  font-size: 13px;
  color: #141414;
  font-family:"museo_sans_cyrl", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-left: 0;
    background: url('../../assets/icons/imgico.png') left top no-repeat;
    background-size: 32px 32px;
    margin-bottom: 15px;
    float: left;
  
}


.ReplyEditorShort__deleteimage {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  top:0;
  background: url('../../assets/images/deleteimage.png') left top no-repeat;
  background-size: 24px 24px;
  display: block;
}

.ReplyEditorShort__deletefile {
  width: 24px;
  height: 24px;
   float: left;

  background: url('../../assets/images/deleteimage.png') left top no-repeat;
  background-size: 24px 24px;
margin-left: 10px;
margin-top:5px;
opacity: 0.4;
}

.ReplyEditorShort__deletefile:hover {
  opacity: 0.6;
}
.ReplyEditorShort__uploading {
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  text-align: center;
  width: 559px;
  height: 300px;
  padding-top: 10px;
  font-size: 11px;
  border-radius: 3px;
  
}

.covered {
  display: none;
}

.ReplyEditorShort__titleVisible, .ReplyEditorShort__titleVisible:focus  {
  display: block;
  border: 1px solid #e1e3e4;
    border-radius: 3px;
    box-shadow: none;

    resize: none;
    color: #1f1f1f;
    height: 50px;
    font-size: 14px;
    font-weight: 700;
    background-color: #fff;
    padding: 10px 10px 10px 15px;
    margin-bottom: 10px !important;
}

.ReplyEditorShort__titleInvisible {
  display: none;
}

.ReplyEditor .Markdown {
  border: 1px solid $light-gray;
  padding: 0 1rem;
}

.ReplyEditorShort__moneyVisible, .ReplyEditorShort__moneyVisible:focus  {
  display: block;
  border: 1px solid #e1e3e4;
  border-top: none;
    border-radius: 0 0 3px 3px;
    box-shadow: none;

    resize: none;
    color: #1f1f1f;
    height: 50px;
    font-size: 13px;
    font-weight: 500;
    background-color: #fff;
    padding: 10px 10px 10px 15px;
    margin-bottom: 5px !important;
}


.ReplyEditorShort__moneyInvisible {
  display: none;
}

.ReplyEditorShort__buttons-add {
  width: 128px;
  height: 37px;
  border: 1px solid #e1e3e4;
  border-radius: 3px;
  float: left;
  background-color: #fff;  
  
}

.ReplyEditorShort__buttons-submit {
  float: left;
}

.ReplyEditorShort__buttons-add ul, .ReplyEditorShort__buttons-add ul li {
  list-style: none;
  padding:0;
  margin:0;
}
.ReplyEditorShort__buttons-add ul li {
  float: left;
  width: 42px;
}
.ReplyEditorShort__buttons-add-image {
  float: left;
  width: 42px;
  height: 35px;
  background: url('../../assets/images/addbuttons.png') left top no-repeat;
  background-size: 126px 18px;
  background-position: 13px 8px;
  
}
.ReplyEditorShort__buttons-add-image:hover, .ReplyEditorShort__buttons-add-video:hover,.ReplyEditorShort__buttons-add-file:hover {
  background-color: #f6f6f6;
}
.ReplyEditorShort__buttons-add-video {
  float: left;
  width: 42px;
  height: 35px;
  background: url('../../assets/images/addbuttons.png') left top no-repeat;
  background-size: 126px 18px;
  background-position: -42px 8px;
}
.ReplyEditorShort__buttons-add-file {
  float: left;
  width: 42px;
  height: 35px;
  background: url('../../assets/images/addbuttons.png') left top no-repeat;
  background-size: 126px 18px;
   background-position: -97px 8px;
  
}

.ReplyEditorShort__body {

 
  border-radius: 4px;
  > div {
    border: none;
  }
  > textarea {
    border: 1px solid #e1e3e4;
    border-radius: 3px 3px 0 0;
    box-shadow: none;

    resize: none;
    color: #1f1f1f;
    height: 50px;
    font-size: 13px;
    background-color: #fff;
    background: url('../../assets/icons/write-ico.png') 15px 15px no-repeat #fff;
    background-size: 17px 17px;
    
    padding: 13px 10px 10px 45px;
    
    ::-webkit-input-placeholder {color:#9f9f9f;}
::-moz-placeholder          {color:#9f9f9f;}/* Firefox 19+ */
:-moz-placeholder           {color:#9f9f9f;}/* Firefox 18- */
:-ms-input-placeholder      {color:#9f9f9f;}
  }

  > textarea.expanded-area {
  resize: auto;
  height: 150px;
  background: #fff;
  padding: 13px 10px 10px 15px;
}
 > textarea.collapsed-area {
  resize: none;
  height: 50px !important;
  background: url('../../assets/icons/write-ico.png') 15px 15px no-repeat #fff;
    background-size: 17px 17px;
    
    padding: 13px 10px 10px 45px;
}

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.ReplyEditorShort__body.rte {
  border: 1px solid $medium-gray;
}

.Comment__replies .ReplyEditorShort__body {
  margin-top: -1rem;
}
.medium-editor-element {
    background-color: inherit !important;
}
.medium-editor-toolbar-actions button {
    margin-right: 0 !important;
}
// .medium-insert-images.medium-insert-images-grid.small-grid figure {
//     width: 10%;
// }
// @media (max-width: 750px) {
//     .medium-insert-images.medium-insert-images-grid.small-grid figure {
//         width: 20%;
//     }
// }
// @media (max-width: 450px) {
//     .medium-insert-images.medium-insert-images-grid.small-grid figure {
//         width: 25%;
//     }
// }
// .editable {
//     outline: none;
//     min-height: 38px;
//     margin: 0 0 20px 0;
//     padding: 0 0 20px 0;
// }

.RichTextEditor__root___33zoV button {
  margin-right: 0 !important;
}


@media screen and (max-width: 39.9375em) {

.ReplyEditorShort__body  {

  > textarea {
  font-size:16px;
  }
  > input {
     font-size:16px;
  }
}

  .ReplyEditorShort__moneyVisible, .ReplyEditorShort__moneyVisible:focus {
      font-size:16px;
}


.ReplyEditorShort__moneyInvisible {
  font-size:16px;

}

.ReplyEditorShort__titleVisible, .ReplyEditorShort__titleVisible:focus   {
font-size: 16px;
}

.ReplyEditorShort__titleInvisible  {
font-size: 16px;
}

.UserProfile_tabcontent .ReplyEditor .column {
  padding-left: 0;
   padding-right: 10px;
}

.ReplyEditorShort__buttons-add {
  width: 189px;
  height: 50px;
}
.ReplyEditorShort__buttons-submit {
  height: 50px;
}

.ReplyEditorShort__buttons-add ul li {
  width: 62px;
}
.ReplyEditorShort__buttons-add-image {
  width: 62px;
  height: 50px;
  background-position: 20px 14px;
}
.ReplyEditorShort__buttons-add-video {
  width: 62px;
  height: 50px;
  background-position: -34px 14px;
}
.ReplyEditorShort__buttons-add-file {
  width: 62px;
  height: 50px;
  background-position: -89px 14px;
}

.button.hollow.ReplyEditor__buttons-cancel, .button.hollow.ReplyEditor__buttons-cancel:hover, .button.hollow.ReplyEditor__buttons-cancel:focus {
   height: 50px;
}

}



