.User {
  float: left;
  position: relative;
  padding-right: 0.6rem;
  border-radius: 50%;
  > a > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.User__defaultAva {
	width: 40px;
	height: 40px;
	background-image: url('../../assets/images/defaultavatar.jpg');
	background-size: cover;
	border-radius: 24px;
	margin:1px 0 0 1px;
  
  .Card & {
    width: 36px;
    height: 36px;
  }
}

.User__wrap {
  display: block;
  float: left;
  overflow: hidden;
  max-width: 390px;
}


@media screen and (max-width: 39.9375em) {

  .User a img {
  width: 32px;
  height: 32px;
  }

}