.VerticalMenu {

  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;

  .Icon {
    padding-left: 0.1rem;
    margin-right: 0.5rem;
    top: 0;
  }

  svg path, svg polygon {
    fill: $dark-gray;
  }

  > li {
    list-style: none;
    display: block;
  }

  > li > a {
    color: $black;

    padding: 8px 15px;
    display: block;
    text-decoration: none;
  }


  > li > a:hover {
    background-color: #f0f0f0;
    text-decoration: none;
    
  }

  > li > a:focus {
    text-decoration: none;
  }

  > li.title {
    padding: 0.4rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid $medium-gray;
  }
}


.dropdown-pane {
  background: #fff;
  border: 1px solid #e1e3e4;
  -webkit-box-shadow: 0px 6px 6px 0px rgba(42,51,69,0.16);
  -moz-box-shadow: 0px 6px 6px 0px rgba(42,51,69,0.16);
  box-shadow: 0px 6px 6px 0px rgba(42,51,69,0.16);
  
  }