.TopRightMenu__search-icon {
    width: 55px;
    height: 59px;
    background: url(../../assets/icons/search.png) no-repeat;
    background-position: center 22px;
    background-size: 16px 56px;
    padding: 0;
    float: left;
    border-left: 1px solid #f0f1f1;
}

.TopRightMenu__search-icon:hover {
    background-position: center -18px;
}

.TopRightMenu_sila {
     background: url(../../assets/icons/likeico.png) no-repeat;
    background-position: 20px 22px;
    background-size: 18px 181px;
    height: 59px;
    padding: 20px 20px 0 44px;
    float: left;
    border-left: 1px solid #f0f1f1;
    font: 14px/20px 'museo_sans_cyrl', Arial, sans-serif;
    color: #9da5ab;
    text-decoration: none;
}
.TopRightMenu_sila:hover {
        background-position: 20px -33px;
}
.TopRightMenu_sila-link, .TopRightMenu_sila-link:hover, .TopRightMenu_sila-link:focus, .TopRightMenu_sila-link:active {
    text-decoration: none;
}


.TopRightMenu__switchBtn  {
    border: 0 none;
    height: 59px;
    padding: 0 10px;
    width: 70px;
    border-left: 1px solid #f0f1f1;
}

.sub-menu {
    li {
  
        a {
         padding: 0;
        }
    }
   
}

li.Header__userpic {
    padding: 0;
}

li.buttons {
    padding-right: 0;
    margin-right: 10px;
}

li {
    .button.alert, .button.success { padding: 2px 10px; }
}


.TopRightMenu__signupbtn > a, .TopRightMenu__loginbtn > a {
    font: 14px/20px 'museo_sans_cyrl', Arial, sans-serif;
    color: #196aff;
    text-decoration: none;
    padding: 17px 10px 0 15px !important;
    height: 59px;

}
.TopRightMenu__signupbtn > a:hover, .TopRightMenu__loginbtn > a:hover {
  text-decoration: none;
  background: #f0f0f0;
    }
.TopRightMenu__signupbtn > a:focus, .TopRightMenu__loginbtn > a:focus {
  text-decoration: none;
}
.TopRightMenu__signupbtn > a, .TopRightMenu__loginbtn > a {
    border-left: 1px solid #f0f1f1;
}


