.UserWallet {
		  padding: 20px;
  margin: 0 0 15px;
  background-color: #fff;
  clear: left;
  border: 1px solid #e1e3e4;
  border-radius: 3px;
  @include clearfix;
  width: 560px;
  margin-left: 10px;
}

.UserWallet__balance {
  padding-bottom: 1rem;
}

.UserWallet__buysp {
  margin-right: 0;
}

// fix DropdownMenu going off page's width
.UserWallet {
    .Header__sort-order-menu {
        display: block;
        .VerticalMenu {
            left: 50%;
            display: block;
        }
    }
}
