
@font-face {
    font-family: 'museo_sans_cyrl';
    src: url('../fonts/museosanscyrl_500-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl_500-webfont.woff') format('woff'),
         url('../fonts/museosanscyrl_500-webfont.ttf') format('truetype'),
         url('../fonts/museosanscyrl_500-webfont.svg#museo_sans_cyrl500') format('svg');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_cyrl';
    src: url('../fonts/museosanscyrl_700-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl_700-webfont.woff') format('woff'),
         url('../fonts/museosanscyrl_700-webfont.ttf') format('truetype'),
         url('../fonts/museosanscyrl_700-webfont.svg#museo_sans_cyrl700') format('svg');
    font-weight: 700;
    font-style: normal;

}